.imgBtn {
  height: 6.4rem;
  width: 6.4rem;
  border-radius: 0.8rem;
  margin-left: 1.6rem;
  margin-right: 1.6rem;
  cursor: pointer;
}

.imgBtnSelected {
  height: 6.4rem;
  width: 6.4rem;
  border-radius: 0.8rem;
  margin-left: 1.6rem;
  margin-right: 1.6rem;
  box-sizing: content-box;
  border: solid 0.2rem #00AB55;
  cursor: pointer;
}

.imgSelector {
  width: 100%;
  padding-top: 0.8rem;
  padding-left: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media only screen and (max-width: 43rem) {
  .imgSelector {
    padding: 0.8rem;
  }
}

.selectedImg {
  width: 100%;
  height: 60rem;
  object-fit: cover;
  border-radius: 1.2rem;
}

@media only screen and (max-width: 43rem) {
  .selectedImg {
    height: unset;
  }
}

.imgBtns {
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media only screen and (max-width: 43rem) {
  .imgBtns {
    overflow-x: scroll;
  }
}

@media only screen and (max-width: 43rem) {
  .imgBtnsChild {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: max-content;
    flex-wrap: nowrap;
    padding-left: 10rem;
  }
}
