.product {
  padding: 4rem;
}

@media only screen and (max-width: 43rem) {
  .product {
    padding: 0.8rem;
  }
}

.summaryWrapper {
  width: 100%;
  height: 72rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 1.6rem;
  box-shadow: 0px 1.2rem 2.4rem 0px rgba(145, 158, 171, 0.12), 0px 0px 0.2rem 0px rgba(145, 158, 171, 0.2);
}

@media only screen and (max-width: 43rem) {
  .summaryWrapper {
    height: max-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.imgSelector {
  flex-grow: 6;
}

@media only screen and (max-width: 43rem) {
  .imgSelector {
    height: max-content;
  }
}

.summary {
  flex-grow: 4;
  padding: 4rem 6.4rem;
}

@media only screen and (max-width: 43rem) {
  .summary {
    padding: 2.4rem;
  }
}

.sale {
  display: inline-block;
  text-transform: uppercase;
  color: #B72136;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2rem;
  background-color: rgba(255, 72, 66, 0.16);
  padding: 0px 0.8rem;
  border-radius: 0.6rem;
  margin-bottom: 1.6rem;
}

.arrival {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.8rem;
  color: #1890FF;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}

.fullName {
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
  margin-bottom: 1.6rem;
}

.price {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.6rem;
  margin-top: 1.6rem;
}

.canceled {
  color: var(--text-secondary)
}

.divider {
  border: none;
  border-top: dotted 1px rgba(145, 158, 171, 0.24);
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}

.picker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 2.4rem;
  margin-bottom: 0.8rem;
}

.text {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
}

.colorCheckboxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.colorCheckboxes > * {
  margin: 0.9rem;
}

.sizeChartLinkWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sizeChartLink {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.8rem;
  text-align: end;
  text-decoration: underline;
  cursor: pointer;
  margin-right: 0.8rem;
}

.sizeChartLink:hover {
  color: var(--text-secondary);
}

.quantitySelect {
  border: solid 0.1rem rgba(145, 158, 171, 0.32);
  border-radius: 0.8rem;
  max-width: 9.6rem;
  margin-right: 0.8rem;
}

.available {
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #637381;
  margin-right: 0.8rem;
}

.buttonRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.buttonSpacer {
  width: 1.6rem;
}

.warrantyWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: left;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

@media only screen and (max-width: 43rem) {
  .warrantyWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}