.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.surface {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: linear-gradient(to left, #161C24, rgba(22, 28, 36, 0.48));
  cursor: pointer;
}

.modal {
  border-radius: 1.6rem;
  background-color: white;
  width: 72rem;
  box-shadow: -4rem 4rem 8rem -0.8rem rgba(145, 158, 171, 0.24);
  z-index: 1;
}

.form {
  padding: 2.4rem;
}

.header {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.8rem;
  margin-bottom: 2.4rem;
}

.radioGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: left;

  height: 2.2rem;
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}

.radioPair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: left;

  height: 2.2rem;
  margin-right: 4rem;
}

.inputRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media only screen and (max-width: 43rem) {
  .inputRow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.inputRow .textInput {
  flex-grow: 1;
}

.textInput {
  border: solid 1px rgba(145, 158, 171, 0.32);
  border-radius: 0.8rem;
  height: 5.6rem;
  padding: 1rem 0.8rem;
  margin-bottom: 2.4rem;
  width: 100%;
}

input::placeholder {
  font-family: 'Public Sans';
  font-weight: 400;
  color: #919EAB;
}

.checkboxRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;

  border: solid 1px rebeccapurple;
}

.checkboxInput {
  margin: 0;
  padding: 0;
}

.btnRow {
  width: 100%;
  padding: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}